# Composer
/vendor/
composer.lock

# Testing
.phpunit.result.cache
phpunit.xml
composer.json
/tests/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Node (if added later)
node_modules/
package-lock.json

